/* =========================================================
   RESET
========================================================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* =========================================================
     BODY
  ========================================================= */
  body{
  
    width: 100%;
    height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background: linear-gradient(
      135deg,
      #3035A1,
      #1c1f66
    );
  
    font-family: 'Inter', sans-serif;
  }
  
  /* =========================================================
     CONTAINER
  ========================================================= */
  .login-container{
  
    width: 420px;
  
    background: white;
  
    padding: 40px;
  
    border-radius: 30px;
  
    box-shadow: 0 5px 20px rgba(0,0,0,0.25);
  
    text-align: center;
  }
  
  /* =========================================================
     LOGO
  ========================================================= */
  .logo{
  
    width: 90px;
  
    margin: 0 auto 20px auto;
  }
  
  /* =========================================================
     TÍTULO
  ========================================================= */
  .login-container h1{
  
    font-size: 42px;
  
    color: #3035A1;
  
    margin-bottom: 30px;
  
    font-family: 'Montserrat', sans-serif;
  }
  
  /* =========================================================
     FORM
  ========================================================= */
  .form-box{
  
    display: flex;
    flex-direction: column;
  
    gap: 18px;
  }
  
  /* =========================================================
     INPUTS
  ========================================================= */
  .form-box input{
  
    width: 100%;
  
    padding: 16px;
  
    border-radius: 18px;
  
    border: 2px solid #d9d9d9;
  
    font-size: 17px;
  
    outline: none;
  }
  
  /* =========================================================
     BOTÃO
  ========================================================= */
  .form-box button{
  
    border: none;
  
    background: #3035A1;
  
    color: white;
  
    padding: 16px;
  
    border-radius: 18px;
  
    font-size: 18px;
  
    font-weight: 700;
  
    cursor: pointer;
  
    transition: 0.2s ease;
  }
  
  /* HOVER */
  .form-box button:hover{
  
    background: #23277e;
  }
  
  /* =========================================================
     TEXTO
  ========================================================= */
  .form-box p{
  
    margin-top: 10px;
  
    font-size: 16px;
  }
  
  /* LINK */
  .form-box span{
  
    color: #3035A1;
  
    font-weight: 700;
  
    cursor: pointer;
  }
  
  /* =========================================================
     ESCONDER
  ========================================================= */
  .hidden{
  
    display: none;
  }